html,
body {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    width: 100%;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 120px;
    top: 0%;
    position: fixed;
    background-color: #2b2b2ba6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2025;

    i {
        font-size: 35px;
        display: none;
        color: #FFF;
        font-weight: bold;
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10%;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        li {
            list-style: none;
        }

        a {
            color: #ffffff;
            font-size: 18px;
            font-family: "Roboto", serif;
            text-decoration: none;
            transition: color 0.1s ease, transform 0.2s ease-in;

            &:hover {
                color: #ffffffb9;
                transform: scale(1.03);
            }
        }

        .contact {
            display: flex;
            align-items: center;
            margin-left: 100px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 40px;
                background-color: transparent;
                border: solid 2px #fff;
                font-family: 20px;
                border-radius: 5px;
                padding: 20px;
                font-weight: bold;
                transition: background-color 0.1s ease-in, transform 0.1s ease-in;
                cursor: pointer;

                &:hover {
                    background-color: #ece9f83d;
                    transform: scale(1.03);
                }
            }

            a {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}

.page1 {
    background-color: #F5FCFF;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
    gap: 20%;
    padding: 10px;

    .description {
        margin-left: 30px;

        h4 {
            font-weight: 700;
            color: #282938;
        }

        h1 {
            color: #282938;
            font-size: 50px;
            margin-top: -10px;
        }

        span {
            color: #5E3BEE;
        }

        p {
            margin-top: -10px;
            color: #1C1E53;
            font-size: 18px;
            font-weight: 500;
        }

        .work {
            width: 350px;
            height: 50px;
            background-color: #5E3BEE;
            color: #FFF;
            font-size: 15px;
            border-radius: 6px;
            border: none;
            padding: 12px;
            width: 13rem;
            transition: transform 0.1s ease-in, background-color 0.1s ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
                background-color: #451bec;
            }
        }

        a {
            text-decoration: none;
            color: #FFF;
            font-size: 16px;
        }
    }


    .image img {
        width: 80%;
    }
}

.page2 {
    margin-top: 140px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;

    .about {
        width: 60%;
        margin: 0 auto;
        text-align: justify;
        line-height: 1.6;

        h2 {
            color: #282938;
            font-size: 40px;
        }

        p {
            font-size: 18px;
            font-weight: normal;
            color: #1C1E53;
        }
    }

    .my-image img {
        width: 400px;
    }
}

.page3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    h2 {
        color: #282938;
        font-size: 40px;
    }

    .tecnologias {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .iten {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
    }

    .iten img {
        width: 80px;

    }

    .iten label {
        font-weight: bold;
        color: #282938;
    }
}

.page4 {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    flex-direction: column;

    .projetos {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    h2 {
        color: #282938;
        font-size: 40px;
        margin-left: 20px;
    }

    .works {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    h2 {
        text-align: left;

    }

    .card {
        width: 400px;
        height: 550px;
        background: white;
        border-radius: 30px;
        box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
        transition: 0.2s ease-in-out;
        padding: 10px;
    }

    .img {
        width: 100%;
        height: 50%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: linear-gradient(#ccc0c0, #3b3d58);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 25vw;
        }
    }


    .card:hover {
        cursor: pointer;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }

    .animated-button {
        width: 200px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 16px 36px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        border-radius: 100px;
        font-weight: 600;
        color: #1f387e;
        box-shadow: 0 0 0 2px #ffffff;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button svg {
        position: absolute;
        width: 24px;
        fill: #1f387e;
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .arr-1 {
        right: 16px;
    }

    .animated-button .arr-2 {
        left: -25%;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: #c5e5e4;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

        a {
            color: #1f387e;
            text-decoration: none;
        }
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #212121;
        border-radius: 12px;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
    }

    .animated-button:hover svg {
        fill: #1f387e;
    }

    .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px greenyellow;
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
    }

}

.page5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;

    h2 {
        font-size: 20px;
        color: #00000096;
    }

    .inputs {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .areas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 2px;

        input {
            width: 450px;
            padding: 13px;
            border-radius: 8px;
            border: solid 1px #451bec;
            outline: none;
            cursor: pointer;
        }
    }

    .form {
        display: flex;
        flex-direction: column;

        label {
            color: #282938;
        }
    }

    select {
        width: 100%;
        max-width: 400px;
        /* Limite de largura para um design responsivo */
        padding: 10px 15px;
        margin: 15px 0;
        border-radius: 8px;
        border: 2px solid #ccc;
        background-color: #f9f9f9;
        font-size: 16px;
        color: #333;
        transition: all 0.3s ease;
        cursor: pointer;
        outline: none;

        /* Sombra suave para realce */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        /* Remove a seta padrão */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;

        &:hover {
            border-color: #888;
            background-color: #fff;
        }

        &:focus {
            border-color: #007BFF;
            background-color: #fff;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
        }
    }

    option {
        font-size: 16px;
        color: #333;
    }

    .menssage {
        margin: 15px 0;

        textarea {
            width: 100%;
            max-width: 400px;
            min-height: 150px;
            padding: 12px 15px;
            border: 2px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            color: #333;
            background-color: #f9f9f9;
            resize: vertical;
            transition: all 0.3s ease;
            outline: none;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

            &::placeholder {
                color: #aaa;
                font-style: italic;
            }

            &:hover {
                border-color: #888;
                background-color: #fff;
            }

            &:focus {
                border-color: #007BFF;
                background-color: #fff;
                box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
            }
        }


    }

    /* From Uiverse.io by niat786 */
    button {
        width: 50%;
        border-radius: .25rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
        height: 40px;
        font-size: 0.7rem;
        line-height: 14px;
        letter-spacing: 1.2px;
        transition: .2s .1s, transform 0.1s ease-in;
        background-image: linear-gradient(90deg, #1c1c1c, #6220fb);
        border: 0 solid;
        overflow: hidden;
    }

    button:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        transform: scale(1.02);
    }
}

.container {
    @media (max-width: 1024px) {
        .page2 .about {
            width: 80%;
        }

        .page4 .card {
            width: 90%;
            height: auto;
        }
    }

    @media (max-width: 768px) {
        .header {
            width: 100%;
            flex-direction: column;
            align-items: center;

            ul {
                flex-direction: column;
                gap: 10px;
            }
        }
        .page1 {
            flex-direction: column;
            gap: 20px;

            .image img {
                width: 100%;
            }

            .description h1 {
                font-size: 30px;
            }
        }

        .page2 {
            flex-direction: column;
            gap: 20px;

            .my-image img {
                width: 100%;
            }
        }

        .page3 .iten {
            flex: 1 1 calc(50% - 1rem);
            /* Duas colunas para itens */
        }

        .page5 {
            .inputs {
                display: flex;
                flex-direction: column;
            
                .areas input {
                    width: 400px;
                }
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .menssage textarea {
                width: 400px;
            }
        }

        .page5 .areas input {
            width: 100%;
            /* Ajusta inputs para 100% da largura */
        }
    }

    @media (max-width: 1024px) {
        .page1 {
            .description {
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        .page2 {
            .my-image img {
                width: 35vw;
                margin-top: 30px;
            }
        }

        .page3 {
            .tecnologias {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            }
        }

        .page4 {
            padding: 10px;

            .works {
                display: grid;
                grid-template-columns: repeat(2, 3fr);
            }
        }

        .page5 {
            .form {
                .inputs .areas input {
                    width: 350px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .header {
            i {
                position: absolute;
                right: 10%;
                top: 25%;
                display: block;
            }

            header {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .navigation {
                    display: flex;
                    /* Mantenha o display como flex */
                    position: absolute;
                    right: 10%;
                    top: 65%;
                    width: 40vw;
                    height: 70vh;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: -10%;
                    background-color: #1c1c1cde;
                    border-radius: 20px;
                    opacity: 0;
                    /* Inicialmente invisível */
                    transform: translateX(100%);
                    /* Começa fora da tela */
                    transition: opacity 0.5s ease, transform 0.5s ease;
                    /* Transições suaves */

                    .links {
                        position: relative;
                        left: -20px;
                    }

                    .contact button {
                        position: relative;
                        left: -50px;
                        width: 150px;
                        height: 35px;

                        a {
                            font-size: 15px;
                        }
                    }

                    li {
                        margin-bottom: 20px;
                    }
                }

                .navigation.ativo {
                    opacity: 1;
                    transform: translateX(0);
                }


                .navigation.hidden {
                    opacity: 0;
                    transform: translateX(100%);
                }
            }
        }

        .page1 {
            display: flex;
            text-align: center;
            justify-content: space-around;

            .description {
                h1 {
                    font-size: 25px;
                }

                p {
                    width: 500px;
                }

                .work {
                    width: 200px;
                }
            }

            .image {
                width: 40vw;
            }
        }

        .page2 {
            .my-image {
                width: 40vw;
            }
        }

        .page3 {
            .tecnologias {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        }

        .page4 {
            .works {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .page5 {
            .form .inputs {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }

    }

    @media (max-width: 480px) {
        .header {
            flex-direction: column;
            /* Empilha o cabeçalho */
            text-align: center;
        }

        .page3 .iten {
            flex: 1 1 100%;
            /* Uma coluna por linha em telas pequenas */
        }

        .page4 .card {
            width: 100%;
            /* Expande os cartões para 100% da largura */
        }

        .page5 button {
            width: 100%;
            /* Botão ocupa a largura total */
        }

        h1,
        h2,
        p {
            font-size: 90%;
            /* Reduz os tamanhos de texto */
        }

        .page3 .tecnologias {
            display: grid;
            grid-template-columns: repeat(minmax(150px, 3fr));
            /* Colunas flexíveis */
            gap: 1rem;
        }

    }

    @media (max-width: 468px) {
        .header {
            header .navigation {
                width: 60vw;

            }
        }

        .page1 {
            .description {
                p {
                    font-size: 16px;
                    width: 260px;
                }
            }

            .image {
                width: 60vw;
            }
        }

        .page2 {
            .about {
                h2 {
                    font-size: 30px;
                }

                p {
                    width: 300px;
                }
            }
        }

        .page3 {

            h2 {
                font-size: 30px;
            }

            .tecnologias {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .iten {
                    img {
                        width: 10vw;
                    }

                    label {
                        font-size: 14px;
                    }
                }
            }
        }

        .page4 {
            h2 {
                font-size: 30px;
            }

            .works {
                .card {
                    width: 300px;
                }

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 12px;
                }

                .animated-button {
                    width: 150px;
                    height: 40px;

                    .text {
                        font-size: 13px;
                    }
                }
            }
        }

        .page5 {
            .inputs {
                display: flex;
                flex-direction: column;
            
                .areas input {
                    width: 300px;
                }
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .menssage textarea {
                width: 300px;
            }
        }
    }

    @media (max-width: 400px) {
        .page2 {
            .about {
                p {
                    width: 270px;
                }
            }
        }

        .page5 {
            .inputs {
                display: flex;
                flex-direction: column;
            
                .areas input {
                    width: 270px;
                }
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .menssage textarea {
                width: 270px;
            }
        }
    }

    @media (max-width: 380px) {
        .page2 {
            .about {
                h2 {
                    margin-left: -10px;
                }

                p {
                    width: 290px;
                    margin-left: -10px;
                    margin-top: -20px;
                }
            }
        }

        .page3 {
            h2 {
                font-size: 25px;
                margin-left: 20px;
            }
        }

        .page5 {
            .inputs {
                display: flex;
                flex-direction: column;
            
                .areas input {
                    width: 250px;
                }
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .menssage textarea {
                width: 250px;
            }
        }
    }
}